.submit-btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #F2f2f2;
  background-color: #3F3244;
  border: none;
  font-size: 18px;
  padding: 1% 3%;
}

.add-task-form{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  width: 300px
}

.task-input{
  /* height: 50px; */
  font-size: 18px;
}